body {
    background-color:black;
    background-image: url("../images/bg.jpg");
    color: white;
    margin: 20px; 
}
h1{
    color:white;
    border: 1px;
    background-color:black;
    font-size: 35px;
    width: 500px;
    text-align: center;
    margin: auto;
}

div{
    margin: auto;
}
.main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 500px;
}
.crystals{
    border: 1px; 
    border-color: black;
    border-style: solid;
    width:490px;
    padding: 10px;
    margin-bottom: 20px;
}
.x{
    width:350px;
    overflow: auto;
    margin-bottom: 20px;
}
#rNumber{
    border: 1px; 
    border-color: black;
    border-style: solid;
    width:200px;
    height: 100px;
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color:white;
    float: left;
}
.side{
    float: right;
    border: 1px; 
    border-color: black;
    border-style: solid;
    width:100px;
    height: 100px;
    background-color:black;
    color:white;
    font-size: 20px;
}
.bottom{
    width: 300px;   
}
.uScore{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
    color: white;
    width: 300px;
    font-size: 30px;
}
#cScore{
    font-size: 50px;
    text-align: center;  
    border: 2px solid;
}